* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.background-image {
     position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 350px;
    z-index: -1; 
     
     
}

.background-image img {
    width: 100%;
    object-fit: cover;
    min-height: 350px;
    object-position: left;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0px 30px;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: rgb(163, 103, 103);
    letter-spacing: 10px;
    font-size: 70px;
    font-weight: bold;
}

.new-todo {
    width: 100%;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
}



.check{
    flex-basis: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(237, 14%, 26%);
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark img {
    visibility: hidden;
}

.check-mark.checked img, .check-mark:hover img {
    visibility: visible;
}

.check-mark:hover {
    border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

.check-mark.checked {
    background-color: pink;
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

.todo-text.checked {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-todo-input input {
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: hsl(234, 39%, 85%);
}

.new-todo-input form {
    flex-grow: 1;
    display: flex;
}

.new-todo-input input::placeholder {
    color: hsl(233, 14%, 35%);
}

.todo-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: hsl(234, 39%, 85%);
}

.todo-item {
    width: 100%;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    cursor: pointer;
    transition: all .25s ease;
    transition-property: box-shadow, transform, border-color;
}

.todo-items-wrapper {
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

.todo-items-info {
    width: 100%;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    align-items: center;
    color: hsl(233, 14%, 35%);
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.items-statuses {
    display: flex;
    justify-content: center;
}

.items-statuses span  {
    padding: 0 4px;
    cursor: pointer;
}

.items-clear {
     
    cursor: pointer;
    text-align: end;
}

.items-statuses span:hover, .items-clear:hover {
    color: hsl(220, 98%, 61%);
}

.items-statuses .active  {
    color: hsl(220, 98%, 61%);
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
}

button {
    /* cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius:10px;
    background: rgb(199, 209, 196); */
     
        color:#fbfcfd;
        padding: 10px 20px;
        background: transparent;
        /* border: 1px solid #fff;
        border-radius:15px; */
        outline: none;
        cursor: pointer;
        height: 70px;
        /* box-shadow: 0 9px #999; */

    }


button:hover{
    background-color: rgb(235, 235, 243);
}
button:active{
    background-color: #3e8e41;
    box-shadow: 1px 10px  8px #666;
    transform: translateY(4px);
}
i{
  margin: 5px; 
    
}
 span.counter-display {
padding: 2px;
margin: 15px;
box-sizing: border-box;
}
.side-bar{
    width: 50px;
    height: 140vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display:block;
    width: 25px;
    margin:40px auto 0 ;
}
.social-links img .useful-links img{
width:25px;
margin:5px auto;
cursor: pointer;
}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.counter-display .counterA    h5 {
    /* padding: 0 4px; */
    margin-left: 30px;
    cursor: pointer;
    color:hsl(220, 98%, 61%);
    font-family: monospace;
}
/* #counter {
    margin-top:40px;
}
.items-left{
    height: 100px;
    margin: 0;
}
.counter-display {
    background-color: #333;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 10px;
    color: #999;
    font-size: 24px;
  }
  .counterA {
    margin-left: 30px;
  }


  */
  #btn1{
      padding-right: 5px;
    margin-bottom: 50px;
        /* background-color: #3e8e41;*/
        box-shadow: 0 10px #666; 
        transform: translateY(4px);
    
  }
#display-date{
font-size:0px;
background-color:  hsl(235, 24%, 19%);
border:20px solid  hsl(235, 24%, 19%);
padding: 34px;
margin:4px; 
text-align:right;
}
#time{
    color: hsl(228, 2%, 41%);
   
background-color:  hsl(235, 24%, 19%);
border:2px solid  hsl(235, 24%, 19%);
padding: 3px;
margin:4px; 
text-align:right;
}

@media (min-witdh:600px) and (max-width:2000px){
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #999;
        font-size: 18px;
        /* background-color: hsl(234, 39%, 85%); */
    }
}
       
          
     



